h1{
    display: flex;
    text-align: center; font-size: 80px; 
    text-shadow: black;  
    margin: 0px; 
    padding: 0px; 
    display: inline;}

img{
    border: 2px solid #a10707;
}
.inicio-nuevo{
    display: flex;
    justify-content: center;
}
.inicio-nuevo section{
    margin: 20px;
}
a{
    text-decoration: none;
}

iframe{
    border: 2px solid #a10707;
}


.flex-item{
    width: 100%;
    height: 90%;
}
.divamigos{
    display: flex;
}
.amigos-ul{
    background-color: rgb(231, 230, 230);
    display: inline-block;
}
.amigos-ul a{
    text-decoration: none;
}
.amigos-ul li{
    margin: 30px;
    list-style-type: none;
}
.principal-news img{
    width: 80%;
    height: 400px;
}

.principal-news{
    display: flex;
    justify-content: center;
}


.principal-news h2{
    display: block;
    margin: auto;
}

.noticias-secundarias img{
    width: 400px;
}

.noticias-secundarias h2{
    font-size: 30px;
}


.flex-container img:hover{
    transform: rotate(1deg);
}

p{
    font-family: 'Barlow', sans-serif;}


.fuenteTitulos{
    font-family: 'Bebas Neue', cursive;
}

.gridInicio{
    display: flex;
    align-items: center;
}
main p{
    margin: 10px;
}
.flexTDP{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.grid-registro{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.grid-registro div{
    grid-column: 2/3;
}
.grid-registro button{
    width: 130px;
    grid-column: 2/3;
}
.fuenteTitulos-1{
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 0%;
    padding-bottom: 0%;
    margin-top: 15px;
    margin-left: 10px;
}


.carteleraTitulos{
    font-family: 'Bebas Neue', cursive;
    margin-top: 0%;
    margin-bottom: 60px;
}


.gridCartelera{
    display: flex;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.gridCartelera .est{
    display:inline-block
}

.grid-container img{
    margin: 10px;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
}

.grid-item1{
    grid-column: 1/3;
}
.grid-item2{
    grid-column: 3/6;
}

.mb-3 input{
    width: 300px;
}
.form-check input{
    width: 17px;
}
.d-md-block h5{
    color: #fff;
}
.d-md-block p{
    color: #fff;
}
*{
    color: #000000;
    margin: 0%;
    padding: 0%;
}

h3{ 
    font-size: 30px;
}


h2{
    font-size: 40px;
}

.flex-trailers{
    display: flex;
    justify-content: center;
    text-align: center;
}
.flex-trailers iframe{
    width: 25%%;
    margin: 20px;
    height: 200px;
}
.flex-trailers h4{
    font-size: 25px;
    padding-top: 0ch;
    padding-bottom: 10px;
}
label{
    display: block; 
    font-family: 'Bebas Neue', cursive;}

.formbuttons{ 
    background-color: black;}


input{
    color: black; 
    font-family: 'Times New Roman', Times, serif;}

.footer{
    display: flex;
    justify-content: center;
    color: #ffffff;
    width: 100%;
    background: rgb(220, 220, 220);
    margin-top: 200px;
}

.footer-responsive{
    display: none;
    color: #ffffff;
    background-color: rgb(190, 190, 190);
} 

.footer h4{
    margin-left: 10px;
    margin-right: 10px;
    font-family:'Bebas Neue', cursive;
    color: #000000;
}

.footer-responsive h4{
    font-size: 10px;
    font-family:'Bebas Neue', cursive; 
}

/*# sourceMappingURL=style.css.map */
