//var
$color-white:#fff;
$font:'Bebas Neue', cursive; 
//import

//Maps
$trailer:(
    margin-b:0%,
    padding-b: 0%,
    margin-t: 9px,
    padding-t: 4px,
);

//mixin
@mixin button($fontt,$f-color,$b-color, $border ) {
    font-family: $fontt; 
    color: $f-color;
    background-color: $b-color; 
    border: $border;
}
h1{
    display: flex;
    text-align: center; 
    font-size: 80px; 
    text-shadow: black;  
}

img{
    border: 2px solid #a10707;
}

a{
    text-decoration: none;
}

iframe{
    border: 2px solid #a10707;
}


.flex-item{
    width: 100%;
    height: 90%;
}

.principal-news{
    img{
        width: 100%;
        height: 400px;
    }
}

.principal-news{
    text-align: center;
}


.principal-news{
    h2{
        display: block;
        margin: auto;
    }
}

.noticias-secundarias{
    img{
        width: 400px;
    }
}

.noticias-secundarias{
    h2{
        font-size: 30px;
    }
}


.flex-container img:hover{
    transform: rotate(1deg);
}

p{
    font-family: 'Barlow', sans-serif;}

button{ 
    @include button('Courier New', $color-white, black, none )
}

.fuenteTitulos{
    font-family: $font;
}

.gridInicio{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
}

.flexTDP{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fuenteTitulos-1{
    font-family: $font;
    margin-bottom: 0%;
    padding-bottom: 0%;
}


.carteleraTitulos{
    font-family: $font;
    margin-top: 0%;
    margin-bottom: 60px;
}


.gridCartelera{
    display: flex;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.gridCartelera .est{
    display:inline-block
}

.grid-container {
    img{
        margin: 10px;
        justify-content: center;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
}

.grid-container{
    div{
        grid-column: 1/4;
    }
}

.mb-3{
    input{
        width: 300px;
    }
}
.form-check{
    input{
        width: 17px;
    }
}
.d-md-block{
    h5{
        color: $color-white;
    }
    p{
        color: $color-white;
    }
}

*{
    color: #000000;
    margin: 0%;
    padding: 0%;
}

h3{ 
    font-size: 30px;}


h2{
    font-size: 40px;}



.sizetrailer{
    font-size:25px; 
    font-family: $font;
    margin-bottom:map-get($map:$trailer, $key:margin-b);
    padding-bottom: map-get($map:$trailer, $key:padding-b );
    margin-top: map-get($map: $trailer, $key:margin-t );
    padding-top: map-get($map: $trailer, $key:padding-t );
    
}

.sizetrailer-principal{
    @extend .sizetrailer;
    font-size: 50px;
}

label{
    display: block; 
    font-family: $font;}

.formbuttons{ 
    background-color: black;}


input{
    color: black; 
    font-family: 'Times New Roman', Times, serif;}


.second-trailers{
    display: grid;
    grid-template-columns: 50% 50%;
}


.footer{
    color: $color-white;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(86, 86, 86) 0%, rgb(255, 255, 255) 45%, rgb(86, 86, 86) 100%);
}

.footer-responsive{
    display: none;
    color: $color-white;
    background-color: rgb(190, 190, 190);
}

.footer{
    h4{
        font-family:$font;
        color: #000000;
    }
}

.footer-responsive {
    h4{
        font-size: 10px;
        font-family:$font;
    }
}