h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 80px;
  text-shadow: black;
}

img {
  border: 2px solid #a10707;
}

a {
  text-decoration: none;
}

iframe {
  border: 2px solid #a10707;
}

.flex-item {
  width: 100%;
  height: 90%;
}

.principal-news img {
  width: 100%;
  height: 400px;
}

.principal-news {
  text-align: center;
}

.principal-news h2 {
  display: block;
  margin: auto;
}

.noticias-secundarias img {
  width: 400px;
}

.noticias-secundarias h2 {
  font-size: 30px;
}

.flex-container img:hover {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

p {
  font-family: 'Barlow', sans-serif;
}

button {
  font-family: "Courier New";
  color: #fff;
  background-color: black;
  border: none;
}

.fuenteTitulos {
  font-family: "Bebas Neue", cursive;
}

.gridInicio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-column-gap: 20px;
}

.flexTDP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fuenteTitulos-1 {
  font-family: "Bebas Neue", cursive;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.carteleraTitulos {
  font-family: "Bebas Neue", cursive;
  margin-top: 0%;
  margin-bottom: 60px;
}

.gridCartelera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
}

.gridCartelera .est {
  display: inline-block;
}

.grid-container img {
  margin: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 5px;
}

.grid-container div {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.mb-3 input {
  width: 300px;
}

.form-check input {
  width: 17px;
}

.d-md-block h5 {
  color: #fff;
}

.d-md-block p {
  color: #fff;
}

* {
  color: #000000;
  margin: 0%;
  padding: 0%;
}

h3 {
  font-size: 30px;
}

h2 {
  font-size: 40px;
}

.sizetrailer, .sizetrailer-principal {
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 0%;
  padding-bottom: 0%;
  margin-top: 9px;
  padding-top: 4px;
}

.sizetrailer-principal {
  font-size: 50px;
}

label {
  display: block;
  font-family: "Bebas Neue", cursive;
}

.formbuttons {
  background-color: black;
}

input {
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

.second-trailers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.footer {
  color: #fff;
  width: 100%;
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(#565656), color-stop(45%, white), to(#565656));
  background: linear-gradient(90deg, #565656 0%, white 45%, #565656 100%);
}

.footer-responsive {
  display: none;
  color: #fff;
  background-color: #bebebe;
}

.footer h4 {
  font-family: "Bebas Neue", cursive;
  color: #000000;
}

.footer-responsive h4 {
  font-size: 10px;
  font-family: "Bebas Neue", cursive;
}
/*# sourceMappingURL=styles.css.map */